<div id='clearance' class='edit'>
	<h1> Confirm or edit </h1>

	<% if @user && @user.errors.present? %>
	  <ul>
	    <% @user.errors.full_messages.each do |e| %>
	      <li><%= e %></li>
	    <% end %>
	  </ul>
	<% end %>

	<%= form_for @user, url: user_path(@user), method: :patch do |f| %>
		<div class='text-field'>	
			<%= f.label :name %>
		  <%= f.text_field :name %>
		</div>

		<div class='text-field'>	
			<%= f.label :first_name %>
		  <%= f.text_field :first_name%>
		</div>

		<div class='text-field'>	
			<%= f.label :last_name %>
		  <%= f.text_field :last_name %>
		</div>

		<div class='text-field'>
			<%= f.label :email %>
			<%= f.text_field :email %>
		</div>

		<div class='submit-field'>
			<%= f.submit "Confirm" %>
		</div>

	<% end %>	
</div>
