	<% if @reservation && @reservation.errors.present? %>
	  <ul>
	    <% @reservation.errors.full_messages.each do |e| %>
	      <li><%= e %></li>
	    <% end %>
	  </ul>
	<% end %>

	<%= form_for @reservation do |f| %>

		<div class='text-area'> <b>	
			<% if params[:action] == 'edit' %> 
			Title: <%= @reservation.listing.title %>
			<% else %>
			Title: <%= params[:title] %>
			<% end %>

			<% if params[:action] == 'edit' %> 
			Host_name: <%= @reservation.listing.user.name %>
			<% else %>
			Host_name: <%= @listing.user.name %>
			<% end %>

			<% if params[:action] == 'edit' %>
			Listing_id:	<%= @reservation.listing.id %>
			<% else %>
		  Listing_id: <%= params[:listing_id] %>
		  <%= f.hidden_field :listing_id, value: params[:listing_id] %>
		  <% end %>
		   </b>
		</div>

		<div class='text-area'>	
			<%= f.label :comments %>
		  <%= f.text_area :comments %>
		</div>

		<div class='number-field'>
			<%= f.label :guests %>
			<%= f.number_field( :guests, :value => 1, in: 1..10, step: 1)  %>
		</div>

		<div>
			<%= f.label :check_in_date %>
			<% if params[:action] == 'edit' %>
			<%= f.text_field :check_in_date, :class => 'available' %>
			<% else %>
			<%= f.text_field :check_in_date, :value => params[:start_date].to_datetime.strftime("%Y-%m-%d"), :class => 'available' %>			
			<% end %>
		</div>			

		<div>
			<%= f.label :check_out_date %>
			<% if params[:action] == 'edit' %>
			<%= f.text_field :check_out_date, :class => 'available' %>
			<% else %>
			<%= f.text_field :check_out_date, :value => (params[:start_date].to_datetime + 1.day).strftime("%Y-%m-%d"), :class => 'available' %>			
			<% end %>			
		</div>		

		<div>
			<%= f.label :smoking, class: "checkbox-inline bold" %>
			<%= f.check_box :smoking %>
			<%= f.label :pets, class: "checkbox-inline bold"  %>
			<%= f.check_box :pets %>
			<%= f.label :kitchen, class: "checkbox-inline bold" %>
			<%= f.check_box :kitchen %>	
			<%= f.label :tv, class: "checkbox-inline bold" %>
			<%= f.check_box :tv %>
			<%= f.label :internet, class: "checkbox-inline bold" %>
			<%= f.check_box :internet %>
			<%= f.label :wifi, class: "checkbox-inline bold" %>
			<%= f.check_box :wifi %>						
		</div>

		<div>
			<%= f.label :free_parking, class: "checkbox-inline bold" %>
			<%= f.check_box :free_parking %>
			<%= f.label :family_friendly, class: "checkbox-inline bold" %>
			<%= f.check_box :family_friendly %>
			<%= f.label :suitable_events, class: "checkbox-inline bold" %>
			<%= f.check_box :suitable_events %>
		<div>
		
		<div class='text-field'>
			<%= f.submit "Submit" %>
		</div>

	<% end %>	